.v-enter-from {
  opacity: 0;
}
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease-out;
}
.v-leave-to {
  opacity: 0;
}
.disp-pc {
  @media screen and (max-width: 768px) {
    display: none;
  }
}